# html snippets additions
snippet aref "anchor" w
<a href="${1:http://}"${3}>${2}</a>${4}
endsnippet

snippet img "image" w
<img src="${1}" style="border: ${2:0};" />${3}
endsnippet

snippet p "Paragraph"
<p${1}>${2}</p>${3}
endsnippet
